/* src/styles/styles.css */
h1 {
    font-size: 3rem; /* Adjust the size as needed */
    user-select: none;
  }
  body{
    user-select: none;
  }
  .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
  }
    
  .center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* src/styles/styles.css */
  
  .button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    color: white;
    background-color: #6366f1; /* bg-indigo-500 */
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    outline: none;
    border-radius: 0.375rem; /* rounded */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #4f46e5; /* hover:bg-indigo-600 */
  }
  
  .button:focus {
    outline: none; /* focus:outline-none */
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .modal-buttons {
    margin-top: 20px;
  }
  
  .modal-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
  }
  