@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.webcam-canvas{
  margin-top: 10px;
  width: 400px;
  position: fixed;
  bottom: 0;
  right: 0;
}
body{
  --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity)) /* #111827 */;
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
}
.main-ui{
  padding-top: 10%;
}
.webcam-canvas{
  margin-top: 2.5rem;
}

.modal-overlay{
  color: black;
}
.modal-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.caution-image{
  width: 90px;
  padding-bottom: 20px;
}
.yes-button{
  background-color: rgb(2, 192, 2) !important;
}
.no-button{
  background-color: rgb(184, 0, 0) !important;
}
.form-camera{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
